.login-form {
  padding: 10%;
  top: 30%;
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 300px;
  font-family: Montserrat;
  font-size: 24px;

  .login-input-group {
    background-color: #161825;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.398041);
    padding: 15px;
    display: flex;
    margin: 1%;

    .login-input {
      width: 85%;
      border: none;
      background-color: inherit;
      font-style: normal;
      font-weight: 300;
      line-height: 25px;
      letter-spacing: 0.5px;
      color: #FFFFFF;
    }
  }
  
  .login-new-account-form {
    margin-top: 10%;
    box-sizing: padding-box;
  }
  
  .login-sing-in-form {
    height: 100%;
    width: 100%;
    top: 10%;
    margin-top: 10%;
    box-sizing: padding-box;
  }

  .login-sing-in-button {
    background: #FCF9F1;
    border-radius: 50px;
    border: none;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.77778px;
    text-transform: uppercase;
    width: 100%;
    min-height: 53px;
    padding: auto;
  }

  .login-new-account-button { 
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.2em;
    text-decoration-line: underline !important;
    color: #FCF9F1 !important;
    border-radius: 50px;
    text-transform: uppercase;
  }
}
 